body {
  background-color: #FFE9D2;

}


#h1fortop {
  text-align: center;
  background-color: #FFB76E;
  font-family: 'KelvinchItalic';
  font-weight: none;
  font-style: italic;

}
#nav {
  text-align: center;
  color: black;

}
#A {
  align-content: center;
}
.co {
  text-align: center;

}
